{{ $variables := resources.Get "css/variables.scss" }}
{{ $copyCode := resources.Get "css/copy-code.scss" }}
{{ $gridList := resources.Get "css/grid-list.scss" }}
{{ $pagination := resources.Get "css/pagination.scss" }}
{{ $filter := resources.Get "css/filter.scss" }}
{{ $navIcon := resources.Get "css/nav-icon.scss" }}
{{ $search := resources.Get "css/search.scss" }}
{{ $main := resources.Get "css/main.scss" }}

{{ $css := slice $variables $copyCode $gridList $pagination $filter $navIcon $search $main | resources.Concat "css/bundle.scss" | toCSS | minify |
fingerprint }}

<link
  rel="stylesheet"
  href="{{ $css.RelPermalink }}"
  integrity="{{ $css.Data.Integrity }}"
  crossorigin="anonymous"
/>
