{{ define "main" }}

<!-- Masthead -->
{{ partial "masthead" . }}

<main>
  <ul class="filters">
    <li class="filter active" data-filter="all">All</li>

    {{ range $name, $taxonomy := .Site.Taxonomies }}
      {{ if eq "categories" $name }}
        {{ range $key, $value := $taxonomy }}
          {{ if ge (where $value.Pages "Section" "projects") 1 }}
          <li data-filter="{{ .Page.Title | urlize }}" class="filter">{{ .Page.Title }}</li>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>

  <div class="grid-view">
  {{ range (where .Pages "Type" "projects") }}
    <a href="{{ .Page.RelPermalink }}" class="grid-item filter-item" data-filters='{{ range .Params.categories }}{{ . | urlize }},{{ end }}'>
      {{ with .Resources.GetMatch "header.*" }}
      {{ $image := .Resize "x400" }}
        <div class="grid-item-img">
          <img src="data:{{ $image.MediaType.Type }};base64,{{ $image.Content | base64Encode }}">
        </div>
      {{ end }}

      <div class="grid-item-title-wrapper">
        <h2 class="grid-item-title">{{ .Title }}</h2>
      </div>
      </a>
  {{ end }}
  </div>
</main>
{{ end }}
