{{ define "main" }}

<!-- Masthead -->
{{ partial "masthead" . }}

<main class="project-page">
  <div class="project-description">
    {{ .Content }}
  </div>

  <div class="project-info">
    <div>
      <table>
        <tr>
          <td>Skills required</td>
          <td>{{ delimit .Params.skills ", " }}</td>
        </tr>
        <tr>
          <td>Level</td>
          <td>{{ .Params.level }}</td>
        </tr>
        <tr>
          <td>Categories</td>
          <td>{{ delimit .Params.categories ", " }}</td>
        </tr>
      </table>

      <!-- Project Links -->
      <div class="project-links">
        {{ range $name, $link := .Params.links }}
          <button class="btn"><a href="{{ $link }}" {{ if strings.HasPrefix $link "http" }} target="_blank"{{ end }}>{{ replace (upper $name) "_" " " }}</a></button>
        {{ end }}
      </div>
    </div>
  </div>
</main>
{{ end }}
