{{ define "main" }}
<!-- Masthead -->
{{ $image := .Resources.Get "header.jpg" }}
<div id="masthead-section" style="background-image: url('{{ $image.RelPermalink }}')">
  <h1>{{ .Title }}</h1>

  <div id="masthead-darkener"></div>
</div>

<main>
  <div class="content single-post">
    <!-- Post content -->
    <div class="post-content">
      <!-- Paginator -->
      <div>
        <hr>
        <div class="post-nav">
          <!-- Previous -->
          {{ with .PrevInSection }}
            <span class="prev-arrow">&#8249;</span>
            <a class="previous" href="{{ .RelPermalink }}"> {{ .LinkTitle }}</a>
          {{ end }}
          <!-- Next -->
          {{ with .NextInSection }}
          <span class="spacer"></span>
            <a class="next" href="{{ .RelPermalink }}">{{ .LinkTitle }} </a>
            <span class="next-arrow">&#8250;</span>
          {{ end }}
        </div>
        <hr>
      </div>

      <!-- Table of Contents -->
      {{ if .Params.toc }}
      <aside class="toc-sm">
        <h3>Table of Contents</h3>
        {{ .TableOfContents }}
      </aside>
      {{ end }}

      <!-- Content -->
      {{ .Content }}

      <!-- Paginator -->
      <div>
        <hr>
        <div class="post-nav">
          <!-- Previous -->
          {{ with .PrevInSection }}
            <span class="prev-arrow">&#8249;</span>
            <a class="previous" href="{{ .RelPermalink }}"> {{ .LinkTitle }}</a>
          {{ end }}
          <!-- Next -->
          {{ with .NextInSection }}
          <span class="spacer"></span>
            <a class="next" href="{{ .RelPermalink }}">{{ .LinkTitle }} </a>
            <span class="next-arrow">&#8250;</span>
          {{ end }}
        </div>
        <hr>
      </div>
    </div>

    <!-- Table of Contents -->
    {{ if .Params.toc }}
    <aside class="toc-lg">
      <h3>Table of Contents</h3>
      {{ .TableOfContents }}
    </aside>
    {{ end }}
  </div>
</main>
{{ end }}
