{{ define "main" }}
<!-- Masthead -->
{{ with $image := .Resources.Get "header.jpg" }}
  <div id="masthead-section">
  <h1>{{ $.Page.Title }}</h1>

  <img src="{{ $image.RelPermalink }}" alt="" style="height: 500px; max-width: 100%; position: absolute; z-index: -1;">

  <div id="masthead-darkener"></div>
</div>
{{ end }}

<main>
  <div class="content single-post">
    <!-- Post content -->
    <div class="post-content">
      <!-- Paginator -->
      <div>
        <hr>
        <div class="post-nav">
          <!-- Previous -->
          {{ with .PrevInSection }}
            <span class="prev-arrow">&#8249;</span>
            <a class="previous" href="{{ .RelPermalink }}"> {{ .LinkTitle }}</a>
          {{ end }}
          <!-- Next -->
          {{ with .NextInSection }}
          <span class="spacer"></span>
            <a class="next" href="{{ .RelPermalink }}">{{ .LinkTitle }} </a>
            <span class="next-arrow">&#8250;</span>
          {{ end }}
        </div>
        <hr>
      </div>

      <!-- Table of Contents (small screens) -->
      {{- $headers := findRE "<h[1-6].*?>(.|\n])+?</h[1-6]>" .Content -}}
      {{- $has_headers := ge (len $headers) 1 -}}
      {{- if $has_headers -}}
        <aside class="toc-sm">
          <h3>Table of Contents</h3>
          {{ .TableOfContents }}
        </aside>
      {{- end }}

      <!-- Content -->
      <div data-pagefind-body>
        {{ .Content }}
      </div>

      <!-- Paginator -->
      <div>
        <hr>
        <div class="post-nav">
          <!-- Previous -->
          {{ with .PrevInSection }}
            <span class="prev-arrow">&#8249;</span>
            <a class="previous" href="{{ .RelPermalink }}"> {{ .LinkTitle }}</a>
          {{ end }}
          <!-- Next -->
          {{ with .NextInSection }}
          <span class="spacer"></span>
            <a class="next" href="{{ .RelPermalink }}">{{ .LinkTitle }} </a>
            <span class="next-arrow">&#8250;</span>
          {{ end }}
        </div>
        <hr>
      </div>
    </div>

    <!-- Table of Contents (large screens) -->
    {{- if $has_headers -}}
    <aside class="toc-lg">
      <h3>Table of Contents</h3>
      {{ .TableOfContents }}
    </aside>
  {{- end }}
  </div>
</main>
{{ end }}
