<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>

    <!-- Styles -->
    {{ $opts := dict "transpiler" "libsass" "targetPath" "css/style.css" }} {{
    with resources.Get "css/style.scss" | toCSS $opts | minify | fingerprint }}
    <link
      rel="stylesheet"
      href="{{ .RelPermalink }}"
      integrity="{{ .Data.Integrity }}"
      crossorigin="anonymous"
    />
    {{ end }}

    <!-- Favicons -->
    <link rel="shortcut icon" href="/favicon-32x32.png" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-114x114.png" />
    <link rel="icon" sizes="192x192" href="/favicon-57x57.png" />
  </head>
  <body>
    <div id="header">
      <h1>{{ .Title }}</h1>
      <div id="header-cover"></div>
    </div>

    <main>
      <div id="post">{{ .Content }}</div>
    </main>
  </body>
</html>
