/* montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/montserrat-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/montserrat-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* , *:before, *:after{ 
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    background: url('../images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

a {
    color: #fff !important;
    text-decoration: none;

}

input {
    margin-top: 20px;
    padding: 0 15px;
    height: 60px;
    width: 100%;
    line-height: 2;
    border: 1px solid #ccc;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

textarea {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    resize: vertical;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

form {
    width: 100%;
}

form button {
    margin-top: 20px;
    height: 60px;
    width: 100%;
    background: #eb1536;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .3rem;
    cursor: pointer;
    transition: background-color .25s, color .25s;
}

form button:hover {
    color: #eb1536;
    background: #fff;
}

#main {
    position: relative;
    top: 0;
    left: 0;
    padding: 3rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading {
    position: fixed;
    margin: 3rem;
}

h1 {
    margin: 0 3rem;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    color: #eb1536;
    font-size: 6.25rem;
}

h1 span {
    color: #fff;
    font-size: 20px;
    display: block;
    letter-spacing: .375rem;
}

.caption {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.sep {
    height: 1px;
    width: 100%;
    background: #fff;
    flex: 1 1 auto;
}

#middle {
    font-size: 14px;
    letter-spacing: 5px;
    margin: 0 2rem;
    flex: 0;
    white-space: nowrap;
    font-weight: 300;
}

#arrow-down {
    position: absolute;
    bottom: .625rem;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,0.5);
}

#arrow-down:hover {
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

#content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.section {
    padding: 5rem 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ebeced;
    color: #000;
}

.dark {
    color: #fff;
    background: rgba(52,51,50,.95); /*#343332*/
}

.light {
    color: #fff;
    background: rgba(64,61,57,.95); /*#403d39;*/
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
}

h5 {
    font-weight: 300;
    letter-spacing: .25rem;
    text-transform: uppercase;
}

.section p {
    line-height: 2;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    padding: 2rem;
    width: 100%;
    font-size: .9rem;
}

.section-sep {
    height: 2px;
    width: 6.25rem;
    background: #eb1536;
}

.cards {
    width: 100%;
    margin-top: 100px;
    justify-content: space-evenly;
}

.card {
    position: relative;
    margin-top: 40px;
    padding: 3rem 2rem 3rem 2rem;
    height: auto;
    width: 100%;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.21;
    font-weight: 600;
    color: #eb1536 !important;
}

h3 a {
    color: #eb1536 !important;
}

.card-icon-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-icon {
    position: absolute;
    top: -28px;
    height: 56px;
    width: 56px;
    border-color: #555c6e;
    border-width: 0px;
    border-radius: 50%;
    background-color: #eb1536;
    line-height: 56px;
    color: #fff;
    font-size: 1.75rem;
}

.card-text {
    line-height: 2;
}

.skills {
    width: 90%;
}

.skill {
    width: 100%;
}

.skill-name {
    margin: 10px 0;
    width: 100%;
    text-align: left;
}

.skill-bar {
    position: relative;
    height: 25px;
    width: 100%;
}

.skill-bar-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #746a5c;
}

.skill-bar-actual {
    position: absolute;
    height: 100%;
    background: #eb1536;
    transition: width 1.5s;
    width: 0%;
}

.quote-icon {
    color: #eb1536;
    font-size: 5rem;
}

.quote {
    margin-top: 50px;
    padding: 2rem;
    width: 90%;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 400;
    background: #403d39;
}

.quote-author {
    margin-top: 20px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.projects {
    margin-top: 50px;
}

.projects .card {
    background: #343332;
}

.projects .card:hover {
    background: #fff;
    color: #000;
}

.footer {
    padding: 90px 10px 35px;
    background: #343332;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer-brand {
    padding-bottom: 2rem;
}

.footer-sep {
    margin: 0 10px;
}

.footer-communication {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.footer-communication i {
    margin: 0 10px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    form {
        width: 50%;
    }

    .section {
        padding: 5rem 5rem;
        width: 75%;
    }

    .col {
        width: 40%;
    }

    .card {
        width: 30%;
    }
}