$highlight-color: #eb1536;
$text-color: #333;
$header-bg: #343332;

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('/fonts/montserrat-v15-latin-300.woff2') format('woff2');
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2');
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../fonts/montserrat-v15-latin-600.woff2') format('woff2');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  color: $text-color;
}

#page-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('/img/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

a {
  color: #a07a61;
  text-decoration: none;
  transition: color .1s ease-in-out;

  &:hover {
    color: $highlight-color;
  }
}

input {
  margin-top: 20px;
  padding: 0 15px;
  height: 60px;
  width: 100%;
  line-height: 2;
  border: 1px solid #ccc;
  outline: none;
  font-family: inherit;
}

textarea {
  margin-top: 20px;
  padding: 15px;
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  resize: vertical;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  background-image: none;
}

button,
input {
  border: none;
  outline: none;
}

form {
  width: 100%;
}

.btn {
  height: 60px;
  width: 100%;
  background: $highlight-color;
  color: #fff;
  border: 1px solid $highlight-color;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
  transition: background-color 0.25s, color 0.25s;

  &:hover {
    color: $highlight-color;
    background: #fff;
  }
}

#contact-form button {
  margin-top: 20px;
  letter-spacing: 0.3rem;
}

main {
  padding: 3rem 0;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#masthead-wrapper {
  position: relative;
  top: 0;
  left: 0;
  padding: 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

#masthead-darkener {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.05;
}

.masthead {
  position: fixed;
}

#masthead-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0 3rem;
    text-align: center;
    color: #fffc;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
  }

  h2 {
    color: #fff;
    font-size: 20px;
    display: block;
    letter-spacing: 0.375rem;
  }

  .masthead-title {
    color: $highlight-color;
  }

  .masthead-subtitle {
    margin-top: 1rem;
    padding: 0 2rem;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 14px;
      letter-spacing: 5px;
      margin: 0 2rem;
      flex: 0;
      white-space: nowrap;
      font-weight: 300;
    }
  }
}

#masthead-section {
  position: relative;
  padding: 0 3rem;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  h1 {
    font-family: 'Montserrat', Arial;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    color: #fffc;
    text-align: center;
  }

  img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }
}

.sep {
  height: 1px;
  width: 100%;
  background: #fff;
  flex: 1 1 auto;
}

#arrow-down {
  position: absolute;
  bottom: 0.625rem;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);

  svg {
    height: 20px;
    width: 20px;
  }
}

#arrow-down:hover {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.content {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 5rem 1rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ebeced;
  color: $text-color;
}

.dark {
  color: #fff;
  background: rgba(52, 51, 50, 0.95); /*#343332*/
}

.light {
  color: #fff;
  background: rgba(64, 61, 57, 0.95); /*#403d39;*/
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
}

h5 {
  font-weight: 300;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.section p {
  line-height: 2;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  padding: 0 2rem;
  width: 100%;
  font-size: 0.9rem;
}

.section-sep {
  margin-bottom: 1rem;
  height: 2px;
  width: 6.25rem;
  background: $highlight-color;
}

.cards {
  width: 100%;
  justify-content: space-evenly;
}

.card {
  position: relative;
  margin-top: 50px;
  padding: 3rem 2rem 3rem 2rem;
  height: auto;
  width: 100%;
}

.card-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.21;
  font-weight: 600;
  color: $highlight-color !important;

  a {
    color: $highlight-color !important;
  }
}

.card-icon-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-icon {
  position: absolute;
  top: -28px;
  height: 56px;
  width: 56px;
  border-color: #555c6e;
  border-width: 0px;
  border-radius: 50%;
  background-color: $highlight-color;
  line-height: 56px;
  color: #fff;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 30px;
    width: 30px;
  }
}

.card-text {
  line-height: 2;
}

.skills {
  width: 90%;
}

.skill {
  width: 100%;
}

.skill-name {
  margin: 10px 0;
  width: 100%;
  text-align: left;
}

.skill-bar {
  position: relative;
  height: 25px;
  width: 100%;
}

.skill-bar-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #746a5c;
}

.skill-bar-actual {
  position: absolute;
  height: 100%;
  background: $highlight-color;
  transition: width 1.5s;
  width: 0%;
}

.quote-icon {
  color: $highlight-color;

  svg {
    height: 100px;
    width: 100px;
  }
}

.quote {
  margin-top: 50px;
  padding: 2rem;
  width: 90%;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400;
  background: #403d39;
}

.quote-author {
  margin-top: 20px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.projects .card {
  background: #343332;
}

.projects .card:hover {
  background: #fff;
  color: #000;
}

/* Header */
header {
  position: fixed;
  padding: 0 30px;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  color: #fff;
  transition: background-color 200ms ease-out, height 200ms ease-out;

  &.scrolled {
    height: 65px;
    background-color: #30201394;
  }

  a {
    color: #fff;
  }
}

/* Header small screen */
header {
  background-color: $header-bg;
}

#header-logo {
  align-self: center;
  z-index: 3;
}

#header-menu-flyout {
  ul {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
  }

  li {
    margin-left: 1rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 3;
  }

  svg {
    height: 30px;
    width: 30px;
  }
}

#header-menu-main {
  font-size: 24px;
  display: none;

  ul {
    margin: 0;
    height: 40px;
    display: flex;
    align-items: center;
    list-style: none;
  }

  ul li {
    padding-right: 34px;
    height: 100%;
    display: flex;

    a {
      height: 100%;
      display: flex;
      align-items: center;
      letter-spacing: 1px;
      border-top-width: 3px;
      border-top-style: solid;
      border-color: rgba(0, 0, 0, 0);
      transition: color 200ms ease-in, border-color 200ms ease-in;

      &:hover {
        color: $highlight-color;
      }

      &.active {
        color: $highlight-color;
        border-color: $highlight-color;
      }
    }

    svg {
      height: 20px;
      width: 20px;
    }
  }

  .search {
    padding-right: 0;
  }
}

/* Footer */
footer {
  position: relative;
  padding: 90px 10px 50px;
  background: #343332;
  color: #fff;
  text-align: center;

  a {
    color: #fff;
  }
}

.footer-logo {
  /*padding-bottom: 2rem;*/
}

.footer-sep {
  margin: 0 8px;
  display: none;

  @media only screen and (min-width: 992px) {
    display: block;
  }
}

.footer-legal {
  margin-top: 10px;
  line-height: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media only screen and (min-width: 992px) {
    flex-direction: row;
  }
}

.footer-social {
  margin-top: 1rem;
  width: 100%;
  font-size: 1.5rem;

  svg {
    width: 20px;
    height: 20px;
    color: #fff;
  }

  a {
    margin: 0 10px;
  }
}

/* Posts */
.post {
  margin-bottom: 30px;
}

.post-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.post-img-wrapper {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
}

.post-img {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 0 auto;

  div {
    height: 100%;
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.post-title-summary-wrapper {
  display: flex;
  flex-direction: column;
}

.post-title {
  margin-top: 1rem;
  margin-bottom: 20px;
  font-size: 1.75rem;
  color: #a07a61;
  letter-spacing: 1px;
}

.post-summary {
  font-size: 14px;
  line-height: 2;
  text-align: justify;
}

.post-info {
  margin-top: 25px;
  font-size: 12px;
}

/* Pagination */
.pagination {
  margin-bottom: 30px;
  padding-left: 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-item {
  margin-right: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a07a61;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: default;

  &.active {
    color: #fff;
    background-color: $highlight-color;
  }

  &:hover:not(.disabled) {
    border: 1px solid $highlight-color;
    cursor: pointer;
  }

  a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Nav icon */
#nav-icon {
  position: relative;
  width: 30px;
  height: 30px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  display: block;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 10px;
}

#nav-icon span:nth-child(4) {
  top: 20px;
}

#nav-icon.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

/* Flyout */
#flyout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: $header-bg;
  z-index: 2;
  transition: all .25s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
  }

  li {
    padding: 20px 0;
    font-size: 2rem;
    cursor: pointer;
  }

  a.active {
    color: $highlight-color;
  }

  &.open {
    height: 100%;
    visibility: visible;
  }
}

/* Single post */
.single-post {
  line-height: 2;
  flex-direction: column;
}

.post-content {
  width: 100%;
  text-align: justify;
  flex: 1;

  hr {
    margin: .25rem 0;
  }

  a {
    color: #a07a61;
  }
}

aside {
  position: relative;
  width: 20%;
  line-height: 2;
  flex-shrink: 0;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  ul {
    margin: 0;
    /*padding-left: 1.5rem;*/
    list-style: none;
  }

  #TableOfContents > ul {
    padding: 0;
  }

  a {
    margin: 0.5rem 0;
    display: block;

    &:hover {
      text-decoration: underline;
      color: $highlight-color;
    }
  }

  nav {
    border: none;
  }

  &.toc-sm {
    margin: 2rem 0;
    width: 100%;
    display: block;
  }

  &.toc-lg {
    display: none;
  }
}

.not-found-page {
  min-height: 500px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 1rem;
    font-size: 6.25rem;
    color: $highlight-color;
  }
}

.post-nav {
  width: 100%;
  display: flex;
  font-size: 0.75rem;

  .prev-arrow {
    margin-right: 5px;
  }

  .next-arrow {
    margin-left: 5px;
  }

  .spacer {
    flex: 1;
  }

  hr {
    margin: 0;
  }

  a {
    max-width: 45%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      color: $highlight-color;
    }
  }
}

/* Debug */

#outer {
  border: 1px solid black;
  display: flex;
}

.highlight {
  overflow-x: scroll;
  width: 100%;
  max-width: 100%;
}

.project-categories {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  flex-direction: column;
  list-style: none;

  li {
    height: 40px;
    width: 100%;
    padding-bottom: 3px;

    &:not(:first-child) {
      border-top: 1px solid #8f867b;
    }
  }
}

.category {
  height: 100%;
  width: 100%;
  border-top-width: 3px;
  border-top-style: solid;
  border-color: rgba(0, 0, 0, 0);
  transition: color 200ms ease-in, border-color 200ms ease-in;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: $highlight-color;
  }

  &.active {
    color: $highlight-color;
    border-color: $highlight-color;
  }
}

#search {
  form {
    margin-top: 2rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 2px;
    color: gray;

    button {
      color: inherit;
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }

  input {
    margin: 0;
    border: none;
  }

  #search-results-wrapper {
    margin-top: 50px;
    min-height: 200px;
  }

  #search-suggestion-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #search-suggestion {
    color: $highlight-color;
  }

  #search-empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hidden {
  display: none !important;
}

/* Code copy */

div.highlight,
pre {
  position: relative;
}

.copy-code {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: .5rem 1rem;
  border-radius: 2px;
  user-select: none;
  opacity: .5;

  &:hover {
    background-color: $highlight-color;
    opacity: 1;
  }
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

#projects {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.project {
  position: relative;
  margin: 0 0 2rem 0;
  width: 100%;
  height: 250px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  transition: all .4s ease-in-out;
  transform-origin: center;
  border-radius: .25rem;
  overflow: hidden;

  @media only screen and (min-width: 992px) {
    margin: 2rem 4rem 2rem 0;
    width: 300px;
  }

  &.soft-hide {
    opacity: 0;

    .project-title {
      font-size: 0;
    }

    @media only screen and (max-width: 991px) {
      margin-top: 0;
      margin-bottom: 0;
      height: 0px;
    }

    @media only screen and (min-width: 992px) {
      margin-left: 0;
      margin-right: 0;
      width: 0;
    }
  }

  &:hover {
    transform: scale(1.05);

    & .project-title {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  .project-img {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .project-title-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    display: block;
  }

  .project-title {
    padding: 2rem;
    width: 100%;
    height: 100%;
    font-size: inherit;
    color: #efefef;
    background-color: rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    text-align: center;
    transition: all .4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.collapser {
  position: absolute;
  top: 0;
  right: 0;
  
  &.collapsed::before {
    content: "\2795";
  }

  &::before {
    content: "\2796";
  }
}

.collapsible {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .4s ease-in-out;
  flex: 1;
}

.collapsed {
  /*max-height: 0px;*/
  flex: 0;
}

.project-info {
  margin: 0;
  width: 100%;
  flex-shrink: 0;
  
  & > div {
    border: 1px solid #ccc;
    padding: 20px;
  }

  table {
    width: 100%;
  }

  td {
    vertical-align: top;
  }

  tbody tr td:first-child {
    width: 40%;
    font-weight: bold;
  }

  .project-links {
    margin-top: 1rem;
    display: flex;

    button {
      letter-spacing: .3rem;

      &:not(:first-child) {
        margin-left: 1rem;
      }
  
      a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.privacy {
  line-height: 2;
}

/* Responsive */

/* Large devices */
@media only screen and (min-width: 992px) {
  form {
    width: 50%;
  }

  .section {
    padding: 5rem 5rem;
  }

  .col {
    width: 40%;
  }

  .card {
    width: 30%;
  }

  .post-content-wrapper {
    flex-direction: row;
  }

  .post-img-wrapper {
    width: 320px;
  }

  .post-title-summary-wrapper {
    margin-left: 2rem;
  }

  .post-title {
    margin-top: 0;
  }

  #masthead-homepage {
    h1 {
      font-size: 6.25rem;
    }
  }

  #masthead-section {
    h1 {
      font-size: 3rem;
    }
  }

  header {
    background-color: transparent;
  }

  #header-menu-flyout {
    display: none;
  }

  #header-menu-main {
    display: block;
  }

  .content {
    width: 83.33%;
  }

  /* Single post */

  .single-post {
    flex-direction: row;
  }

  .post-content {
    width: 1px;
  }

  aside {
    padding-left: 1.5rem;

    h3 {
      margin-left: 1.5rem;
    }

    nav {
      border-left: 1px solid gray;
    }

    ul {
      padding-left: 1.5rem;
    }

    &.toc-sm {
      display: none;
    }

    &.toc-lg {
      display: block;
    }

    #TableOfContents > ul {
      padding: 1.25rem;
    }
  }

  .copy-code {
    display: none;
  }

  .project-categories {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    li {
      width: auto;
      border: none;
      border-top: none;

      &:not(:first-child) {
        border: none;
      }
    }
  }

  .project-info {
    margin-left: 1rem;
    width: 50%;
  }
}
