{{ define "main" }}

<!-- Masthead -->
{{ with $image := .Resources.Get "header.jpg" }}
<div id="masthead-section">
  <h1>{{ $.Page.Title }}</h1>

  <img src="{{ $image.RelPermalink }}" alt="">

  <div id="masthead-darkener"></div>
</div>
{{ end }}

<main>
  <!-- Posts -->
  <div class="content">
    {{ $paginator := .Paginate (where .Pages "Type" "blog")}}
    {{ range $paginator.Pages }}
    <div class="post">
      <div class="post-content-wrapper">
        <!-- Post image -->
        <div class="post-img-wrapper">
          {{ with .Resources.GetMatch "header.jpg" }}
          <div class="post-img">
            <img src="data:{{ .MediaType.Type }};base64,{{ .Content | base64Encode }}">
          </div>
          {{ end }}
        </div>

        <div class="post-title-summary-wrapper">
          <!-- Post title -->
          <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>

          <!-- Post summary -->
          <span class="post-summary">{{ .Summary }}</span>
        </div>
      </div>

      <!-- Post info -->
      <div class="post-info">
        <hr />
        {{ $format := "Jan 2, 2006" }} By {{ .Params.author }} | {{
        .Params.date.Format $format }}
        <hr />
      </div>
    </div>
    {{ end }}

    <!-- Paginator -->
    {{ partial "pagination" (dict "page" . "paginator" $paginator) }}
  </div>
</main>
{{ end }}
