{{ define "main" }}

<!-- Masthead -->
{{ $image := .Resources.Get "header.jpg" }}
<div id="the-top" style="background-image: url('{{ $image.RelPermalink }}')">
  <h1>{{ .Title }}</h1>

  <div id="masthead-darkener"></div>
</div>

<main>
  <div id="posts">
    {{ range .Pages }}
    <div id="post">
      <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <p id="summary">{{ .Summary }}</p>
      <hr />
      <div id="info">
        {{ $format := "Jan 2, 2006" }} By {{ .Params.author }} | {{
        .Params.date.Format $format }}
      </div>
      <hr />
    </div>
    {{ end }}
  </div>
</main>
{{ end }}
